<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>16/10/24 12:55:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLogins.LoginAsProvider(java.util.HashMap)[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@28d25987]">LoginAsProvider</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>16/10/24 12:55:33</td>   <td>22113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLogins.LoginAsPA(java.util.HashMap)[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@28d25987]">LoginAsPA</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>16/10/24 12:55:41</td>   <td>30531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLogins.LoginAsPA(java.util.HashMap)[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@28d25987]">LoginAsPA</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>16/10/24 12:55:49</td>   <td>38578</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyLogins.tearDown()[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@28d25987]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
</table>
