<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="879365">  <td>16/04/29 00:35:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLogins.LoginAsProvider(java.util.HashMap)[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@3aa9e816]">LoginAsProvider</td> 
  <td>TestNG@971324607</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>16/04/29 00:35:57</td>   <td>22697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLogins.LoginAsPA(java.util.HashMap)[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@3aa9e816]">LoginAsPA</td> 
  <td>TestNG@971324607</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>16/04/29 00:36:05</td>   <td>30801</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyLogins.tearDown()[pri:0, instance:com.PageObjectModelFramework.Tests.VerifyLogins@3aa9e816]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@971324607</td>   <td></td> </tr>
</table>
